# DATA WRANGLING PROJECT - OPENSTREETMAP

### Background

The purpose of this project is to choose any city in the world, download its OpenStreetMap (OSM) file and audit, clean and prase its information into an SQL database. For my project, I have chosen to explore a sample size of Kuala Lumpur, Malaysia. You may use the hyperlink below to obtain a copy of the OSM file:

[Open Street Map - Kuala Lumpur](https://mapzen.com/data/metro-extracts/metro/kuala-lumpur_malaysia/)

### Preparing the Data

The first step was to create a sample of the OSM file that I had downloaded (refer to create_sample_file.py to see how sample file was created).

Some initial explorations of the sample dataset (refer to initial_explorations.py to see how data below was generated):

- **Number of nodes:** 385,679
- **Number of ways:** 64,037
- **Number of unique users:** 1,194

### Problems Encountered

Whilst auditing the dataset, a few problems were identified:

1. Street name naming convention inconsistencies
2. Zipcode length inconsistencies
3. Phone number format inconsistencies

Before proceeding with the correction strategies, it was important to understand the inconsistencies.

#### Auditing & Correcting Street Names

Executing the audit_street_name.py code prints out a dictionary of unexpected street types and corresponding street names (e.g. 'jalan': set(['jalan 1 off jalan wawasan 4/2']))

The following steps were taken to clean up the street name data:
    
    1. Use a mapping to correct abbreviations and mispellings
    2. Remove preceding unit/lot/house numbers if the street name contained an expected street type
    3. Append "Jalan" to street names which are known to frequently omit the street type
    4. Correct specific inaccuracies
    
#### Auditing & Correcting Zipcodes

Executing the audit_zipcode.py code prints out a dictionary of zipcodes deviating from the expected 5 character length and corresponding street names (e.g. '462000': set(['Lorong Utara C']))

Since there were only 4 instances where the zipcode lengths were incorrect, a quick lookup on the internet helped to provide the correct zipcodes based on the corresponding street names:

- '462000' --> '46200'
- '5400' --> '54000'
- '56000 ' --> '56000'
- '6800' --> '68000'

#### Auditing & Correcting Phone Numbers

Executing the audit_phone_number.py code prints out a dictionary of all available phone number lengths and correponding phone numbers (e.g. 9: set(['356319100', '356389741', '390211288']))

All phone numbers were converted to the following format +60xxxxxxxxx (i.e. 12 or 13 characters) using the steps below:

1. Remove all white spaces, '-', '(' and ')'
2. Add "+60" where applicable
3. For those elements with more than one phone number, keep only the first number

### Parse Data into SQL Database

Create a database and the subsequent table schema using following commands:

1. sqlite3 kuala_lumpur_osm.db
2. .read create_tables.sql

Execute the create_csv_files.py code to create the nodes, nodes_tags, ways, ways_nodes, and ways_tags .csv files

Import data from the .csv files into the SQL database, using following commands:

1. sqlite3 kuala_lumpur_osm.db
2. .read import_data.sql

Below is a overview of the files and databases that were created using the process above:

- **nodes.csv:**            31.2MB
- **node_tags.csv:**         1.3MB
- **ways.csv:**              3.7MB
- **ways_tags.csv:**         5.1MB
- **ways_nodes.csv:**       11.7MB
- **kuala_lumpur_osm.db:**  63.6MB

### Overview of the Data

To double check no data had been lost in the process of cleaning and parsing of data, the number of nodes, ways and unique subs were queried out from the SQL database.

In [1]:
import sqlite3
import pprint

conn = sqlite3.connect("kuala_lumpur_osm.db")
cursor = conn.cursor()

cursor.execute("SELECT COUNT(*) FROM nodes;")
print 'There are {} nodes in the database.'.format(cursor.fetchall()[0][0])
cursor.execute("SELECT COUNT(id) FROM ways;")
print 'There are {} ways in the database.'.format(cursor.fetchall()[0][0])
cursor.execute("SELECT COUNT(DISTINCT(users.uid)) \
               FROM (SELECT uid FROM nodes UNION ALL SELECT uid FROM ways) users;")
print 'There are {} unique subs in the database.'.format(cursor.fetchall()[0][0])

There are 385679 nodes in the database.
There are 64037 ways in the database.
There are 1190 unique subs in the database.

The number of nodes and ways matches exactly to the query done before the dataset was cleaned and parsed. However the minor difference in unique subs is simply due to the fact that the relation entities were not parsed into the SQL database.

From here, other information was extracted from the database to get a sense of the city's tastes and culture:

#### Types of amenities in the area

In [2]:
cursor.execute("SELECT value, COUNT(*) \
               FROM nodes_tags \
               WHERE key='amenity' \
               GROUP BY value \
               ORDER BY COUNT(*) DESC \
               LIMIT 6;")
pprint.pprint(cursor.fetchall())

[(u'restaurant', 786),
 (u'bank', 226),
 (u'place_of_worship', 221),
 (u'fuel', 204),
 (u'parking', 160),
 (u'fast_food', 151)]

#### Types of cuisines in the area

In [3]:
cursor.execute("SELECT value, COUNT(*) \
               FROM nodes_tags cuisine \
               WHERE key='cuisine' \
               GROUP BY value \
               ORDER BY COUNT(*) DESC \
               LIMIT 3;")
pprint.pprint(cursor.fetchall())

[(u'chinese', 112), (u'malaysian', 50), (u'indian', 48)]

#### Fast food restaurants by popularity

In [4]:
cursor.execute("SELECT value, COUNT(*) \
               FROM nodes_tags amenity_names, \
                   (SELECT id \
                   FROM nodes_tags \
                   WHERE key='amenity' \
                   AND value='fast_food') amenity\
               WHERE amenity_names.id=amenity.id \
               AND key='name' \
               GROUP BY value \
               ORDER BY COUNT(*) DESC \
               LIMIT 3;")
pprint.pprint(cursor.fetchall())

[(u'KFC', 35), (u"McDonald's", 21), (u'Subway', 14)]

#### Banks by popularity

In [5]:
cursor.execute("SELECT value, COUNT(*) \
               FROM nodes_tags amenity_names, \
                   (SELECT id \
                   FROM nodes_tags \
                   WHERE key='amenity' \
                   AND value='bank') amenity\
               WHERE amenity_names.id=amenity.id \
               AND key='name' \
               GROUP BY value \
               ORDER BY COUNT(*) DESC \
               LIMIT 3;")
pprint.pprint(cursor.fetchall())

[(u'Maybank', 33), (u'Public Bank', 18), (u'CIMB', 13)]

#### Fueling stations by popularity

In [6]:
cursor.execute("SELECT value, COUNT(*) \
               FROM nodes_tags amenity_names, \
                   (SELECT id \
                   FROM nodes_tags \
                   WHERE key='amenity' \
                   AND value='fuel') amenity\
               WHERE amenity_names.id=amenity.id \
               AND key='name' \
               GROUP BY value \
               ORDER BY COUNT(*) DESC \
               LIMIT 3;")
pprint.pprint(cursor.fetchall())

[(u'Petronas', 42), (u'Shell', 27), (u'Petron', 21)]

A few conclusions that we can draw from the data extracted above:

1. Based on the number of amenities, it would appear that the people of Kuala Lumpur love to eat more than anything else
2. Their cuisine of choice is Chinese but if required to get a quick bite, they prefer KFC over McDonald's or Subway
3. Based on the popularity of the banks and fueling stations, it appear that in general, the consumers' confidence in local corporations (i.e. Maybank and Petronas are Malaysian companies) is healthy

### Other Ideas about the Dataset

In general, the quality of the Kuala Lumpur OSM dataset was fairly reasonable. A few corrections were required to clean the street names, zipcodes and phone numbers, but overall, the corrections were not extensive. Unfortuntely because OSM is a human-modified project, data will always be inconsistent. The best way to ensure uniformaity is to control input at the source. That is, to limit variability by forcing contributors to select inputs from a list of values and/or implementing business rules to reject incorrect formats. However, the downside to this is:

1. This may hamper the process of contributing, thereby reducing the number of submissions
2. Formats differ from country to country so it is hard to have a single standardized format

Case in point, in many countries, the street type appears at the end of the street name (e.g. Lincoln Avenue). However in Malaysia, the street type appears at the beginning of the street name (e.g. Jalan Travers).

Perhaps, to improve the accuracy of the data in the future, information such as zipcode or phone number can be cross-validated with other sources (e.g. Google Maps) and prompts can be provided at the point of submission to provide an option for users to correct inconsistencies.